{% extends "web/base.html" %}
{% load i18n %}
{% block content %}
{% load static %}
{% load web_template_tags %}
	<section id="about">
		<section id="top" class="p-t-30 p-b-30" style="background: url({{static_url}}web/images/header.png) no-repeat scroll center center / cover">
			<div class="wrapper">
				<h2 class="f-z-25 text-color-white t-a-c">A film, also called a movie, motion picture, theatrical film, or photoplay, is a series of still images</h2>
			</div>
		</section>
		<section id="middle2" style="background: url({{static_url}}web/images/spotlight.png) no-repeat scroll center center / cover"></section>
		<section id="bottom" class="bg-color-green p-t-15 p-b-15 box-shadow-1 t-a-c">
			<section class="wrapper">
				<p class="margin text-color-green f-z-35">Post New</p>
			</section>
		</section>
	</section>
</section>
		<section class="p-t-3-p p-b-3-p p-s-a about post-post">
			<section class="wrapper">
				<div class="bottom p-t-40 p-b-40 p-l-40 p-r-40 bg-color-white border-color-grey-400 bd-2 bd-l bd-r bd-b bz">
					<p class="margin text-color-black f-z-25 m-b-10">Post New</p>
					{% if message %}
				    	<div class="text m-b-20 t-a-c">	    	
							{{message}}			
						</div>
						<br />
					{% endif %}
					<form method="post" action="{{url}}" enctype="multipart/form-data">
						{% csrf_token %}
						<div class="m-b-2-p">
							<p class="left p-s-r w-49-p m-r-2-p m-b-2-p">
								<input disabled class="w-100-p t-a-c p-t-10 p-b-10 f-z-16" type="text" placeholder="Catagery" name="Name" value="category : {{employer.get_category_display}}" />
							</p>
							<p class="left w-49-p p-s-r">
								<input disabled class="w-100-p t-a-c p-t-10 p-b-10 f-z-16" type="text" placeholder="Sub Catagery" name="" value="Project name : {{employer.film_name}}" />
							</p>
							<p class="left p-s-r w-49-p m-r-2-p m-b-2-p">
								<input disabled class="w-100-p t-a-c p-t-10 p-b-10 f-z-16" type="text" placeholder="Catagery" name="Name" value="Banner name : {{employer.banner_name}}" />
							</p>
							<p class="left w-49-p p-s-r">
								<input disabled class="w-100-p t-a-c p-t-10 p-b-10 f-z-16" type="text" placeholder="Sub Catagery" name="" value="Director: {{employer.director_name}}" />
							</p>
							<p class="left p-s-r w-49-p m-r-2-p">
								<input disabled class="w-100-p t-a-c p-t-10 p-b-10 f-z-16" type="text" placeholder="Catagery" name="Name" value="Producer : {{employer.producer_name}}" />
							</p>
							<p class="left w-49-p p-s-r">
								{{form.last_date}}
							</p>							
							<p class="left m-t-2-p w-49-p p-s-r m-r-2-p">
								{{form.job_category}}
							</p>
							<p class="left p-s-r w-49-p m-t-2-p">
								{{form.state}}
							</p>
							<p class="left m-t-2-p w-49-p p-s-r m-r-2-p">
								{{form.lead_actor}}
							</p>
							<p class="left p-s-r w-49-p m-t-2-p">
								{{form.lead_actress}}
							</p>
							<br class="clear">
						</div>
						
						<div class="t-a-c">
							<input class="submit t-t-u text-color-white d-i-b f-z-20 bg-color-green p-t-10 p-b-10 p-l-40 p-r-40 c-p" type="submit" value="Submit" class="submit" />
						</div>
					</form><!--(#login > form)-->
				</div>
			</section>
		</section>
	</section>
	<script>
		$(document).ready(function(){
			$('.datetimepicker').datepick({format:'Y-m-d',});
			$(".state-slect option[value='']").html('Select your state')
		});

	</script>
	{% endblock %}
			}
