{% load i18n %}
<!DOCTYPE html>
    <!--[if IE 9 ]><html class="ie9"><![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %} {% endblock %} | {{app_title}}</title>
        
        {% load static %}
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}" />
        <!-- Vendor CSS -->
        <link href="{% static 'vendors/bower_components/animate.css/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendors/bower_components/google-material-color/dist/palette.css' %}" rel="stylesheet">
        <link href="{% static 'vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css' %}" rel="stylesheet">
            
        <!-- CSS -->
        <link href="{% static 'css/app.min.1.css' %}" rel="stylesheet">
        <link href="{% static 'css/app.min.2.css' %}" rel="stylesheet">
    </head>
    
    <body>
        <div class="login login-content no-login-popup" data-lbg="teal">
        	
        	{% block content %}
            
            
            {% endblock %}
        </div>

        {% include 'includes/extra/ie.html' %}

        <!-- Javascript Libraries -->
        <script src="{% static 'vendors/bower_components/jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'vendors/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'vendors/bower_components/Waves/dist/waves.min.js' %}"></script>
        <script src="{% static 'js/functions.js' %}"></script>
        
        {% block static %}
        {% endblock %}
        
    </body>
</html>
