<!DOCTYPE html>
<html lang="en">
{% load static %}
    <head>
        <meta charset="utf-8" />
        <title>Home | Film App</title>
        <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta property="og:image" content="images/og.png" />
        <link rel="stylesheet" href="{% static 'web/css/style.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'web/css/custom.css' %}" type="text/css" />
        {% if is_need_select %}
        <link rel="stylesheet" href="{% static 'web/css/selectordie.css' %}">
        {% endif %}
        {% if is_need_datepicker %}
        <link rel="stylesheet" type="text/css" href="{% static 'web/css/jquery.datepick.css' %}"> 
        {% endif %}
        {% if is_need_crop %}
            <link rel="stylesheet" href="{% static 'web/css/crop.css' %}" type="text/css" />
            <link rel="stylesheet" href="{% static 'web/css/jquery.toast.min.css' %}" type="text/css" />
        {% endif %}
        <link rel="stylesheet" href="{% static 'web/css/sweetalert.css' %}" type="text/css" />
        {% if is_need_steps %}
            <link rel="stylesheet" href="{% static 'web/css/steps.css' %}" type="text/css" />
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta property="og:image" content="{% static 'web/images/logo.png' %}" />

        <script type="text/javascript" src="{% static 'web/js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'web/js/script.js' %}"></script>
        {% if is_need_crop %}
            <script type="text/javascript" src="{% static 'web/js/jquery.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'web/js/crop.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'web/js/jquery.toast.min.js' %}"></script>
        {% endif %}
        {% if is_need_datepicker %}
        <script type="text/javascript" src="{% static 'web/js/jquery.plugin.js' %}"></script> 
        <script type="text/javascript" src="{% static 'web/js/jquery.datepick.js' %}"></script>
        {% endif %}
        {% if is_need_select %}
            <script src="{% static 'web/js/selectordie.min.js' %}"></script>
        {% endif %}
        {% if is_need_steps %}
            <script src="{% static 'web/js/jquery.steps.min.js' %}"></script>
        {% endif %}
        <script type="text/javascript" src="{% static 'web/js/sweetalert.min.js' %}"></script>
    </head>
    <body>
        <section id="home">
            <section class="wrapper">
                <header class="p-t-30 p-b-30">
                    <h1 class="w-150 h-55 left"><a class="d-i-b" href="{% url 'web:home' %}"><img src="{% static 'web/images/logo.jpg' %}" alt="Image" class="w-100-p d-b"></a></h1>
                    <nav class="right w-72-p l-h-55">
                        <ul class="m-l-0">
                            <li class="d-i-b m-r-20 p-l-30 p-s-r active"><a class="f-z-18" href="{% url 'web:home' %}"><span class="d-i-b w-20 h-20 p-s-a l-0-p t-0-p b-0-p m-a-0 m-r-5"><img src="{% static 'web/images/hm.png' %}" alt="" class="w-100-p d-b"></span>Home<br class="clear"></a></li>
                            <li class="d-i-b m-r-20 p-l-30 p-s-r text-color-deep-purple"><a class="f-z-18" href="{% url 'web:about' %}"><span class="d-i-b w-20 h-20 p-s-a l-0-p t-0-p b-0-p m-a-0 m-r-5"><img src="{% static 'web/images/at.png' %}" alt="" class="w-100-p d-b"></span>About<br class="clear"></a></li>
                            {% if user.is_anonymous or is_superuser %}
                                <li class="d-i-b m-r-20 p-l-30 p-s-r"><a class="f-z-18" href="javascript:void(0)" onclick="openNav2()"><span class="d-i-b w-20 h-20 p-s-a l-0-p t-0-p b-0-p m-a-0 m-r-5"><img src="{% static 'web/images/ep.png' %}" alt="" class="w-100-p d-b"></span>Companies<br class="clear"></a></li>
                                <li class="d-i-b m-r-20 p-l-30 p-s-r"><a class="f-z-18" href="javascript:void(0)" onclick="openNav3()"><span class="d-i-b w-20 h-20 p-s-a l-0-p t-0-p b-0-p m-a-0 m-r-5"><img src="{% static 'web/images/cd.png' %}" alt="" class="w-100-p d-b"></span>Candidates<br class="clear"></a></li>
                            {% else %}
                                <li class="d-i-b m-r-20 p-l-30 p-s-r"><a class="f-z-18" href="{% url 'web:employers' %}"><span class="d-i-b w-20 h-20 p-s-a l-0-p t-0-p b-0-p m-a-0 m-r-5"><img src="{% static 'web/images/cd.png' %}" alt="" class="w-100-p d-b"></span>Companies<br class="clear"></a></li>
                                <li class="d-i-b m-r-20 p-l-30 p-s-r"><a class="f-z-18" href="{% url 'web:candidates' %}"><span class="d-i-b w-20 h-20 p-s-a l-0-p t-0-p b-0-p m-a-0 m-r-5"><img src="{% static 'web/images/ep.png' %}" alt="" class="w-100-p d-b"></span>Candidates<br class="clear"></a></li>
                            {% endif %}
                            <li class="d-i-b p-l-30 p-s-r m-r-20"><a class="f-z-18" href="{% url 'web:privacy' %}"><span class="d-i-b w-20 h-20 p-s-a l-0-p t-0-p b-0-p m-a-0 m-r-5"><img src="{% static 'web/images/pp.png' %}" alt="" class="w-100-p d-b"></span>Privacy Policy<br class="clear"></a></li>
                            <li class="d-i-b p-l-30 p-s-r"><a class="f-z-18" href="{% url 'web:contact' %}"><span class="d-i-b w-20 h-20 p-s-a l-0-p t-0-p b-0-p m-a-0 m-r-5"><img src="{% static 'web/images/ct.png' %}" alt="" class="w-100-p d-b"></span>Contact<br class="clear"></a></li>
                        </ul>
                    </nav>
                    <ul class="hidden menu-2">
                        <li class="d-i-b m-r-20 active"><a class="f-z-18" href="{% url 'web:home' %}"><img src="{% static 'web/images/hm.png' %}" alt="" class="w-100-p d-b"></a></li>
                        <li class="d-i-b m-r-20 text-color-deep-purple"><a class="f-z-18" href="{% url 'web:about' %}"><img src="{% static 'web/images/at.png' %}" alt="" class="w-100-p d-b"></a></li>
                        {% if user.is_anonymous or is_superuser %}
                            <li class="d-i-b m-r-20"><a class="f-z-18" href="javascript:void(0)" onclick="openNav2()"><img src="{% static 'web/images/ep.png' %}" alt="" class="w-100-p d-b"></a></li>
                            <li class="d-i-b m-r-20"><a class="f-z-18" href="javascript:void(0)" onclick="openNav3()"><img src="{% static 'web/images/cd.png' %}" alt="" class="w-100-p d-b"></a></li>
                        {% else %}
                            <li class="d-i-b m-r-20"><a class="f-z-18" href="{% url 'web:employers' %}"><img src="{% static 'web/images/cd.png' %}" alt="" class="w-100-p d-b"></a></li>
                            <li class="d-i-b m-r-20"><a class="f-z-18" href="{% url 'web:candidates' %}"><img src="{% static 'web/images/ep.png' %}" alt="" class="w-100-p d-b"></a></li>
                        {% endif %}
                        <li class="d-i-b m-r-20"><a class="f-z-18" href="{% url 'web:privacy' %}"><img src="{% static 'web/images/pp.png' %}" alt="" class="w-100-p d-b"></a></li>
                        <li class="d-i-b"><a class="f-z-18" href="{% url 'web:contact' %}"><img src="{% static 'web/images/ct.png' %}" alt="" class="w-100-p d-b"></a></li>
                    </ul>
                    <br class="clear">
                </header>
            </section>
            {% if login_error %}
            <div id='login-alert' style="margin: 0 auto;">
                <div class="alert error">
                    <input type="checkbox" id="alert1"/>
                    <label class="close" title="close" for="alert1">
                        <b class="icon-remove">X</b>
                    </label>
                    <p class="inner">
                        <strong>Warning! </strong>{{message}}
                    </p>
                </div>
            </div>
            {% endif %}
            <div id="mySidenav" class="sidenav hidden" onclick="closeNav()">
                <a title="Close" href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <div class="menu">
                    <a title="Home" href="{% url 'web:home' %}">Home</a>
                    <a title="About" href="{% url 'web:about' %}">About</a>
                    {% if user.is_anonymous or is_superuser %}
                    <a  href="javascript:void(0)" onclick="openNav2()">Company</a>
                    <a  href="javascript:void(0)" onclick="openNav3()">Candidate</a>
                    {% else %}
                    <a  href="{% url 'web:employers' %}">Company</a>
                    <a  href="{% url 'web:candidates' %}">Candidate</a>
                    {% endif %}
                    <a title="Contact" href="{% url 'web:contact' %}">Contact</a>
                    <a title="Privacy Policy" href="{% url 'web:privacy' %}">Privacy Policy</a>
                </div>
            </div>
            <span class="openmenu hidden" onclick="openNav()">&nbsp;</span>
        </section>
        <section id="spotlight" class="text-color-white t-a-c">

            {% block content %}

            {% endblock %}
        <footer class="t-a-c p-t-15 p-b-15 bg-color-black">
            <section class="wrapper">
                <p class="text-color-white">&copy; {{today.year}} Revolution Casting. All rights reserved. | Developed by <a href="http://maxpillar.com" target="_blank" title="Maxpillar" class="semibold text-color-white">Maxpillar.</a></p>
            </section>
        </footer>
        <div class="popup">

            <div id="mySidenav2" class="sidenav2 hidden">
                <section id="container" class="w-400 m-0-a t-a-c p-s-r" style="margin-top: 17% !important;">
                    <a title="Close" class="close" href="javascript:void(0)" onclick="closeNav2()">&times;</a>
                    <div class="bottom p-t-70 p-b-30 p-l-40 p-r-40">
                        {% if message %}
                            <div class="text m-b-20">           
                                {{message}}         
                            </div>
                            <br />
                        {% endif %}
                        <form action="" class="m-b-50">
                            <p class="p-s-r w-100-p">
                                {{login_form.username}}
                                {% if login_form.username.errors %}
                                    <span class="error">{{ login_form.username.errors.as_text }}</span>
                                {% endif %}
                            </p>
                            <p class="m-t-20 m-b-30 w-100-p p-s-r two">
                                {{login_form.password}}
                                {% if login_form.password.errors %}
                                    <span class="error">{{ login_form.password.errors.as_text }}</span>
                                {% endif %}
                            </p>
                            <input class="submit t-t-u text-color-white d-i-b f-z-18 bg-color-green p-t-8 p-b-8 p-l-50 p-r-50 c-p" type="submit" value="Login" class="submit" />
                        </form><!--(#login > form)-->
                        <div class="last">
                            <a class="left text-color-black f-z-15" href="forgot-password.html">Forgot Password ?</a>
                            <a class="right text-color-black f-z-15" href="{% url 'employers:create' %}">Registerd Now</a>
                            <br class="clear">
                        </div>
                    </div>
                </section>
            </div>
            <div id="mySidenav3" class="sidenav2 hidden">
                <section id="container" class="w-400 m-0-a t-a-c p-s-r" style="margin-top: 17% !important;">
                    <a title="Close" class="close" href="javascript:void(0)" onclick="closeNav3()">&times;</a>
                    <div class="bottom p-t-70 p-b-30 p-l-40 p-r-40">
                        {% if message %}
                            <div class="text m-b-20">           
                                {{message}}         
                            </div>
                            <br />
                        {% endif %}
                        <form action="{% url 'users:employer_login' %}" class="m-b-50">
                            {% csrf_token %}
                            <p class="p-s-r w-100-p">
                                {{login_form.username}}
                                {% if login_form.username.errors %}
                                    <span class="error">{{ login_form.username.errors.as_text }}</span>
                                {% endif %}
                            </p>
                            <p class="m-t-20 m-b-30 w-100-p p-s-r two">
                                {{login_form.password}}
                                {% if login_form.password.errors %}
                                    <span class="error">{{ login_form.password.errors.as_text }}</span>
                                {% endif %}
                            </p>
                            <input class="submit t-t-u text-color-white d-i-b f-z-20 bg-color-green p-t-10 p-b-10 p-l-60 p-r-60 c-p" type="submit" value="Login" class="submit" />
                        </form><!--(#login > form)-->
                        <div class="last">
                            <a class="left text-color-black f-z-15" href="forgot-password.html">Forgot Password ?</a>
                            <a class="right text-color-black f-z-15" href="{% url 'candidates:create' %}">Register Now</a>
                            <br class="clear">
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </body>
</html>
