{% extends "registration/app_auth_base.html" %}
{% load i18n %}

{% block title %} Login {% endblock %}

{% block content %}
<div class="l-block toggled" id="l-login">
    <div class="lb-header palette-Teal bg">
        <i class="zmdi zmdi-account-circle"></i>
        Hi there! Please Sign in
    </div>

    <div class="lb-body">
    	{% if form.non_field_errors %}
	    	<div class="palette-Red-500 text m-b-20">	    	
				{{form.non_field_errors}}			
			</div>
			<br />
		{% endif %}
		
    	<form action="." method="post">
    		{% csrf_token %} 
	        <div class="form-group fg-float">
	            <div class="fg-line">
	                <input type="text" value="{{ form.username.value|default:""}}" name="username" class="input-sm form-control fg-input">
	                <label class="fg-label">Email/Username</label>
	            </div>
	            {% if form.username.errors %}
		            <span class="error">{{ form.username.errors.as_text }}</span>
		       	 {% endif %}
	        </div>
	
	        <div class="form-group fg-float">
	            <div class="fg-line">
	                <input name="password" value="{{ form.password.value|default:""}}" type="password" class="input-sm form-control fg-input">
	                <label class="fg-label">Password</label>
	            </div>
	            {% if form.password.errors %}
		            <span class="error">{{ form.password.errors.as_text }}</span>
		        {% endif %}
	        </div>
			<input type="hidden" name="next" value="{{ next }}" />
	        <button type="submit" class="btn palette-Teal bg">Sign in</button>
		</form>
        <div class="m-t-20">
            <a  href="{% url 'auth_password_reset' %}" class="palette-Teal text">Forgot password?</a>
        </div>
    </div>
</div>  
{% endblock %}