{% extends 'registration/auth_base.html' %}
{% load static %}
{% load i18n %}
{% block title %} Account activated {% endblock %}
{% block content %}
    <section id="spotlight" class="text-color-white p-b-12-p" style="background: url({{static_url}}web/images/spotlight.png) no-repeat scroll center center / cover">
        <section id="top" class="bg-color-white-rgba p-t-20 p-b-20 m-b-5-p t-a-c">
            <div class="wrapper">
                <h2 class="">Deen Dayal Upadhyaya Grameen Kaushalya Yojana, Kudumbashree Wayanad District</h2>
            </div>
        </section>
        <section id="middle">
            <section class="tabs wrapper">
                <section id="container" class="w-610 h-400 m-0-a t-a-c">
                    <div class="bottom p-t-70 p-b-30 p-l-40 p-r-40">
                        <div class="registration">
                            <div class="w-120 m-0-a">
                                <img class="d-b w-100-p" src="{% static 'web/images/checked.png' %}" alt="">
                            </div>
                            <h3 class="f-z-30 t-a-c m-t-20 m-b-50">Password Changed</h3>
                            {% if current_role == 'company' %}
                            <a class="p-t-10 p-b-10 p-l-40 p-r-40 d-i-b text-color-white bg-color-purple f-z-25 b-s-5" href="{% url 'users:company_login'%}">Login</a>
                            {% endif %}
                            {% if current_role == 'candidate' %}
                            <a class="p-t-10 p-b-10 p-l-40 p-r-40 d-i-b text-color-white bg-color-purple f-z-25 b-s-5" href="{% url 'users:candidate_login'%}">Login</a>
                            {% endif %}
                            {% if current_role == 'student' %}
                            <a class="p-t-10 p-b-10 p-l-40 p-r-40 d-i-b text-color-white bg-color-purple f-z-25 b-s-5" href="{% url 'users:student_login'%}">Login</a>
                            {% endif %}
                        </div>
                    </section>
                </section><!--(#top > .wrapper > #login)-->
            </section>  
        </section>
    </section>
{% endblock %}