{% extends "registration/auth_base.html" %}
{% load i18n %}
{% block title %} Registration {% endblock %}
{% block content %}
{% load static %}
	<section id="registration">
		<section id="top" class="p-t-30 p-b-30" style="background: url({{static_url}}web/images/header.png) no-repeat scroll center center / cover">
			<div class="wrapper">
				<h2 class="f-z-25 text-color-white t-a-c">A film, also called a movie, motion picture, theatrical film, or photoplay, is a series of still images</h2>
			</div>
		</section>
		<section id="middle2" style="background: url({{static_url}}web/images/spotlight.png) no-repeat scroll center center / cover">
		</section>
		<section id="bottom" class="bg-color-green p-t-15 p-b-15 t-a-c">
			<section class="wrapper p-t-30 p-b-30">
			</section>
		</section>
	</section>
</section>
	<section id="middle">
			<section class="tabs wrapper">
				<section id="container" class="w-610 h-400 m-0-a t-a-c">
					<div class="bottom p-t-70 p-b-30 p-l-40 p-r-40">
						<div class="registration">
							<div class="w-120 m-0-a">
								<img class="d-b w-100-p" src="{% static 'web/images/completed.png' %}" alt="">
							</div>
							<h3 class="f-z-30 t-a-c m-t-20 m-b-20">Registration Completed</h3>
							<p class="t-a-c f-z-20">Account activation email has been sent to your inbox. If you do not receive the email in your inbox please check your "spam" or "junk" folder before writing to us. </p>
						</div>
					</section>
				</section><!--(#top > .wrapper > #login)-->
			</section>	
		</section>
</section>
<style>
	div.bottom {
		margin-top: -470px;
	}
	#container {
		margin-bottom: 230px;
	}
</style>
{% endblock %}
