{% extends "web/base.html" %}
{% load i18n %}
{% block content %}
{% load static %}
	<section id="about">
		<section id="top" class="p-t-20 p-b-20" style="background: url({{static_url}}web/images/header.png) no-repeat scroll center center / cover">
			<div class="wrapper">
				<h2 class="f-z-25 text-color-white t-a-c">{{quote1}}</h2>
			</div>
		</section>
		<section id="middle2" style="background: url({{static_url}}web/images/spotlight.png) no-repeat scroll center center / cover">
			
		</section>
		<section id="bottom" class="bg-color-green p-t-15 p-b-15 box-shadow-1 t-a-c">
			
		</section>
	</section>
</section>
	<section class="about p-b-3-p">
		<section class="wrapper">
			<div class="bg-color-white p-t-50 p-b-50 p-l-40 p-r-40 border-color-black bd-l bd-r bd-b bz width">
				<section id="middle">
					<section class="tabs">
						<ul class="left w-100-p">
							<li class="left bz c-p p-s-r p-t-20 p-b-20 w-100-p t-a-c active"><h4 class="f-z-30 text-color-green">Contact</h4></li>
						</ul>
						<div class="hidden p-t-100 p-b-60 js-tabs-content active">
							<div class="left img w-30-p"><img class="d-b w-100-p m-t-50 logo-2" src="{% static 'web/images/logo.jpg' %}" alt=""></div>
							<div class="right w-60-p full">
								<p class="m-t-10 f-z-20 t-t-u f-w-b">Revolution Casting</p>
								<p class="m-b-10 text-color-black">The casting is amazing, your dream become an actor.</p>
								<p class="m-b-10 m-t-10 text-color-black"><img class="img-thumb" src="{% static 'web/images/icons/location.png' %}" alt="">Revolution Casting Building, M C Road, Venjaramoodu, Trivantrum,</p>
								<p class="m-b-10 m-t-10 text-color-black"><img class="img-thumb" src="{% static 'web/images/icons/white.png' %}" alt="">Kerala, India.</p>
								<a class="d-b m-t-10 m-b-10 text-color-black" href="#"><img class="img-thumb" src="{% static 'web/images/icons/phone.png' %}" alt="">+91 9946 55 44 55</a>
								<a class="d-b text-color-black" href="#"><img class="img-thumb" src="{% static 'web/images/icons/mail.png' %}" alt="">revolutioncasting123@gmail.com</a>
							</div>
							<br class="clear">
						</div>
					</section>
				</section>
			</div>
		</section>
	</section>
{% endblock %}
