{% extends "web/base.html" %}
{% load i18n %}
{% block content %}
{% load static %}
	<section id="about">
		<section id="top" class="p-t-20 p-b-20" style="background: url({{static_url}}web/images/header.png) no-repeat scroll center center / cover">
			<div class="wrapper">
				<h2 class="f-z-25 text-color-white t-a-c">{{quote1}}</h2>
			</div>
		</section>
		<section id="middle2" style="background: url({{static_url}}web/images/spotlight.png) no-repeat scroll center center / cover">
			<!--<section id="video-frame">
				<div class="html5gallery" data-responsive="true" data-titleoverlay="true" data-titleautohide="false" data-onchange="onSlideChange" data-skin="light" data-autoplayvideo='true' data-autoslide="true" data-random="true" data-width="600" data-height="280" style="display:none;">
					
					<a href="https://www.youtube.com/embed/815MDYLvgu0"><img src="http://img.youtube.com/vi/815MDYLvgu0/0.jpg"></a>
					{% for promotion in promotion_videos %}
					<a href="{{promotion.video.video_url}}"><img src="http://img.youtube.com/vi/{{promotion.video.video_code}}/0.jpg" alt="Youtube Video"></a>
					{% endfor %}
				</div>
			</section>-->
		</section>
		<section id="bottom" class="bg-color-green p-t-15 p-b-15 box-shadow-1 t-a-c">
			
		</section>
	</section>
</section>
	<section class="about p-b-3-p">
		<section class="wrapper">
			<div class="bg-color-white p-t-50 p-b-50 p-l-40 p-r-40  border-color-black bd-l bd-r bd-b bz">
			<ul>
				<li>
					<div class="left w-100-p text">
						<h2 class="f-z-35 text-color-green t-a-c m-b-50">Privacy Policy</h2>
						<p class="l-h-40">Revolution casting is strongly committed to your right to privacy. This statement discloses the information gathering process and the privacy and dissemination practices for this website. Read on for information about our Privacy Policy.</p>
					</div>
					<br class="clear">
				</li>
				<li class="">
					<div class="right w-100-p text t-a-l">
						<p class="l-h-40">When you register with Revolution casting we gather contact information like your email address and demographic information like your city of residence, gender and age. We will only use this information in the course of providing our Services to you, and will not under any circumstances share, rent or sell such information with any third parties.</p>
					</div>
					<br class="clear">
				</li>
				<li class="">
					<div class="right w-100-p text t-a-l">
						<p class="l-h-40">Our Site may use & quot;cookies&quot; to enhance User experience. User&#39;s web browser places cookies on their hard drive for record-keeping purposes and sometimes to track information about them. User may choose to set their web browser to refuse cookies, or to alert you when cookies are being sent. If they do so, note that some parts of the Site may not function properly.
						We may change this Privacy Policy from time to time based on your comments or as a result of a change of policy. 
						If you have any questions about this Privacy Policy or the practices of this site then please feel free to contact us.</p>
					</div>
					<br class="clear">
				</li>
				<li>
					<div class="left w-100-p text">
						<h2 class="f-z-35 text-color-green t-a-c m-b-50">Refund and Cancellation Policy</h2>
						<p class="l-h-40">Revolution casting doesn’t offer a refund of the money that a user/subscriber would pay to access the site.</p>
					</div>
					<br class="clear">
				</li>
			</ul>
		</section>
	</section>
{% endblock %}
