{% extends "base.html" %}
{% load i18n %}

{% load tz %}
{% block content %}
{% load static %}
    <section id="content">
        <div class="container">
            <div class="c-header">
                <h2>{{title}}</h2>
            </div>
            
            <div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{instance.name}}</div>

                <ul class="ah-actions actions a-alt">
                    {% if "is_superuser" or 'can_view_video' in user_instance.permissionlist %}
                    <li>
                        <a title="View Video" href="{% url 'web:promoted_videos' %}">
                            <i class="zmdi zmdi-view-list-alt"></i>
                        </a>
                    </li>
                    {% endif %}   
                    {% if "is_superuser" or 'can_delete_video' in user_instance.permissionlist %}
                    <li>
                        <a title="Delete Video" data-id="{{instance.pk}}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" href="{% url 'web:delete' pk=instance.pk %}" class="action-button redirect">
                            <i class="zmdi zmdi-delete"></i>
                        </a>
                    </li> 
                    {% endif %}                               
                </ul>
            </div>
             <section id="content">
                <div class="container">
                    <div class="card" id="profile-main">
                        <div class="pm-overview c-overflow">
                            <div class="pmo-pic">
                                <div class="p-relative">
                                    <a href="">                                        
                                        {% if instance.video.candidate.profile_photo%}
                                        <img class="img-responsive" src="{{instance.video.candidate.profile_photo.url}}" alt="" >
                                        {% else %}
                                            <img class="img-responsive" src="{% static 'img/male.png'%}" alt="">
                                        {% endif %}
                                    </a>
                                </div>


                                <div class="pmo-stat">
                                    <h2 class="m-0 c-white">{{instance.video.candidate.name}}</h2>
                                </div>
                            </div>

                            <div class="pmo-block pmo-contact hidden-xs">
                                <h2>Contact</h2>

                                <ul>
                                    <li>Category : {{instance.video.candidate.profile}}</li>
                                    <li>Mobile Number : {{instance.video.candidate.mobile_number}}</li>
                                    <li>address : {{instance.video.candidate.address}}</li>
                                    <li>place : {{instance.video.candidate.place}}</li>
                                    <li>Email : {{instance.video.candidate.email}}</li>                                    
                                    <li>Promoted Date : {{instance.promoted_date}}</li>
                                    <li>End Date : {{instance.end_date}}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="pm-body clearfix">
                            <ul class="tab-nav tn-justified">
                                <li class="active waves-effect"><a href="profile-about.html">About</a></li>
                            </ul>
                            <div class="pmb-block">
                                <div class="pmbb-header">
                                    <h2><i class="zmdi zmdi-account m-r-5"></i> Basic Information</h2>
                                </div>
                                <!--<div class="pmbb-body p-l-30">
                                    <iframe class="p-s-a l-0-p r-0-p t-0-p m-a" width="100%" height="560" src="https://www.youtube.com/embed/{{instance.video.video_code}}" frameborder="0" allow="autoplay;" allowfullscreen></iframe>
                                </a>
                                </div>-->
                            </div>                            
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
{% endblock %}

{% block static %}
    {% load static %}
{% endblock %}