{% extends "base.html" %}
{% load i18n %}

{% load tz %}
{% block content %}
{% load static %}

{% load main_template_tags %}
    <section id="content">
        <div class="container">
            <div class="c-header">
                <h2>{{title}}</h2>
            </div>
            
            <div class="action-header palette-theme {{current_theme}} bg clearfix">
                <div class="ah-label hidden-xs palette-White text">{{instance.banner_name|camelize}}</div>

                <ul class="ah-actions actions a-alt">
                    {% if "is_superuser" or 'can_view_employe' in user_instance.permissionlist %}
                    <li>
                        <a title="View Company" href="{% url 'employers:employers' %}">
                            <i class="zmdi zmdi-view-list-alt"></i>
                        </a>
                    </li>
                    {% endif %}                    
                    {% if "is_superuser" or 'can_modify_employe' in user_instance.permissionlist %}
                    <li>
                        <a title="Edit Company" href="{% url 'employers:edit' pk=instance.pk %}">
                            <i class="zmdi zmdi-edit"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% if "is_superuser" or 'can_delete_employe' in user_instance.permissionlist %}
                    <li>
                        <a title="Delete Company" data-id="{{instance.pk}}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" href="{% url 'employers:delete' pk=instance.pk %}" class="action-button redirect">
                            <i class="zmdi zmdi-delete"></i>
                        </a>
                    </li> 
                    {% endif %}                               
                </ul>
            </div>
             <section id="content">
                <div class="container">
                    <div class="card" id="profile-main">
                        <div class="pm-overview c-overflow">
                            <div class="pmo-pic">
                                <div class="p-relative">
                                    <a href="">                                        
                                        {% if instance.fefco_registration%}
                                                <img class="img-responsive" src="{{instance.fefco_registration.url}}" alt="" >
                                        {% else %}
                                            <img class="img-responsive" src="{% static 'img/male.png'%}" alt="">
                                        {% endif %}
                                        <img class="img-responsive" src="img/profile-pics/profile-pic-2.jpg" alt="">
                                    </a>
                                </div>


                                <div class="pmo-stat">
                                    <h2 class="m-0 c-white">{{instance.banner_name|camelize}}</h2>
                                </div>
                            </div>

                            <div class="pmo-block pmo-contact hidden-xs">
                                <h2>Contact</h2>

                                <ul>
                                    <li><i class="zmdi zmdi-account"></i> {{instance.director_name|camelize}}</li>
                                    <li><i class="zmdi zmdi-email"></i> {{instance.email}}</li>
                                    <li><i class="zmdi zmdi-phone"></i> {{instance.director_phone}}</li>
                                    <li><i class="zmdi zmdi-comments"></i> {{instance.director_wp}}</li>
                                </ul>
                            </div>
                        </div>

                        <div class="pm-body clearfix">
                            <ul class="tab-nav tn-justified">
                                <li class="active waves-effect"><a href="profile-about.html">About</a></li>
                            </ul>
                            <div class="pmb-block">
                                <div class="pmbb-header">
                                    <h2><i class="zmdi zmdi-account m-r-5"></i> Basic Information</h2>
                                </div>
                                <div class="pmbb-body p-l-30">
                                    <div class="pmbb-view">                                        
                                        <dl class="dl-horizontal">
                                            <dt>Banner Name</dt>
                                            <dd>{{instance.banner_name|camelize}}</dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>Banner Registration No</dt>
                                            <dd>{{instance.banner_no}}</dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>Category</dt>
                                            <dd>{{instance.category|camelize}}</dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>Project Title Name</dt>
                                            <dd>{{instance.film_name|camelize}}</dd>
                                        </dl>                                       
                                        <dl class="dl-horizontal">
                                            <dt>Producer Name</dt>
                                            <dd>{{instance.producer_name|camelize}}</dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>Producer Phone</dt>
                                            <dd>{{instance.producer_phone}}</dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>Producer Whatsapp</dt>
                                            <dd>{{instance.producer_wp}}</dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>Other Name</dt>
                                            <dd>{{instance.other_name|camelize}}</dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>Time Duration</dt>
                                            <dd>{{instance.time_duration}}</dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>Email</dt>
                                            <dd>{{instance.email}}</dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>Language</dt>
                                            <dd>{{instance.language|camelize}}</dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>Is Active</dt>
                                            <dd>{{instance.is_active}}</dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>Is Fee Payed</dt>
                                            <dd>{{instance.is_reg_fee_payed}}</dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div class="pmb-block">
                                <div class="pmbb-header">
                                    <h2><i class="zmdi zmdi-account-o m-r-5"></i>Created &amp; Updated</h2>
                                </div>
                                <div class="pmbb-body p-l-30">
                                    <div class="pmbb-view">
                                        <dl class="dl-horizontal">
                                            <dt>Date Added</dt>
                                            <dd>{{instance.date_added}}</dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>Date Updated</dt>
                                            <dd>{{instance.date_updated}}</dd>
                                        </dl> 
                                        {% if instance.creator %}
                                        <dl class="dl-horizontal">
                                            <dt>Created User</dt>
                                            <dd>{{instance.creator.username}}</dd>
                                        </dl>  
                                        {% endif %}
                                        {% if instance.updator%}                                     
                                        <dl class="dl-horizontal">
                                            <dt>Last Updated User</dt>
                                            <dd>{{instance.updator.username}}</dd>
                                        </dl>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
{% endblock %}

{% block static %}
    {% load static %}
{% endblock %}