{% load static %}
<div class="card">
    <div class="card-header">
        <h2>My Stocks <small></small></h2>
    </div>

    <div class="card-body">
    	{% if product_stocks %}
        <div class="table-responsive">
            <table id="data-table-basic" class="table table-striped table-vmiddle">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Stock</th>
                    </tr>
                </thead>
                <tbody>
                	{% for instance in product_stocks %}
                    <tr>
                        <td>{{instance.product.name}}</td>
                        <td>{{instance.stock}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        	<div class="card-padding card-body">
	        	<p>No products found</p>
	        </div>
        {% endif %}
    </div>
</div>