{% extends "web/base.html" %}
{% load i18n %}
{% block content %}
{% load static %}
{% load web_template_tags %}
{% load main_template_tags %}
	<section id="about">
		<section id="top" class="p-t-20 p-b-20" style="background: url({{static_url}}web/images/header.png) no-repeat scroll center center / cover">
			<div class="wrapper">
				<h2 class="f-z-25 text-color-white t-a-c">{{quote1}}</h2>
			</div>
		</section>
		<section id="middle2" style="background: url({{static_url}}web/images/spotlight.png) no-repeat scroll center center / cover"></section>
		<section id="bottom" class="bg-color-green p-t-15 p-b-15 box-shadow-1 t-a-c">
			<section class="wrapper">
				<p class="margin text-color-white f-z-35">About</p>
			</section>
		</section>
	</section>
</section>
	<section class="about employer-profile p-t-3-p p-b-3-p">
		<section class="wrapper">
			<section class="bg-color-white p-t-20 p-b-20 p-l-20 p-r-20  border-color-black bd-l bd-r bd-b  bz tabs">
				<div class="top border-color-black bd-l bd-r bd-t p-s-r">
					<div class="h-250 p-s-r">
						{% if instance.cover_photo %}
						<img class="d-b w-100-p h-250" src="{{instance.cover_photo.url}}" alt="">
						{% else %}
						<img class="d-b w-100-p h-250" src="{% static 'web/images/prof-bg.png' %}" alt="">
						{% endif %}
						<form action="{% url 'web:upload_cover' %}?pk={{instance.pk}}" enctype="multipart/form-data" method="post">
							{% csrf_token %}
							<label class="image-upload p-s-a t-25 r-25" for="cover-upload"><img class="d-b w-100-p" src="{% static 'web/images/camera.png' %}" alt=""></label>
							<input id="cover-upload" name='cover_photo' type="file" style="display:none;">
							<input id='upload_cover' type="submit" value="submit" hidden=hidden>
						</form>

						<div class="director name" style="padding-left: 300px;">
							<h4 class="f-z-35 text-color-green">{{instance.director_name|camelize}}</h4>
							<p>Director</p>
						</div>
					</div>
					<div class="left p-s-r m-l-40 profile" style="margin-top: -120px;">
						
						{% if instance.director_photo %}
						<img class="img dir-photo" src="{{instance.director_photo.url}}" alt="Image">
						{% else %}
						<img class="img dir-photo" src="{% static 'web/images/profile.png' %}" alt="Image">
						{% endif %}
						<form action="{% url 'web:upload_cover' %}?pk={{instance.pk}}" enctype="multipart/form-data" method="post">
							{% csrf_token %}
							<label class="image-upload p-s-a t-10 r-10 w-25 h-20" for="photo-upload"><img class="d-b w-100-p" src="{% static 'web/images/camera.png' %}" alt=""></label>
							<input id="photo-upload" name='director_photo' type="file" style="display:none;">
							<input id='upload_director' type="submit" value="submit" hidden=hidden>
						</form>

					</div>
					<br class="clear">
				</div>
				<div class="bottom profile-menu">
					<div class="padding border-color-black bd-b bd-r bd-l m-b-30 profile-menu-two">
						<ul class="right w-60-p">
							<li class="left bz c-p p-s-r js-tabs-title {% if is_profile %}active{% endif %}" data-tab="#tab-1"><h4 class="d-i-b p-b-20 p-l-30 p-s-r"><span class="d-i-b w-20 h-20 p-s-a l-0-p t-0-p b-20 m-a-0 m-r-5"><img src="{% static 'web/images/pf.png' %}" alt="" class="w-100-p d-b"></span>Profile</h4></li>
							<li class="left bz c-p p-s-r js-tabs-title {% if is_job_list %}active{% endif %}" data-tab="#tab-2"><h4 class="d-i-b p-b-20 p-l-30 p-s-r"><span class="d-i-b w-20 h-20 p-s-a l-0-p t-0-p b-20 m-a-0 m-r-5"><img src="{% static 'web/images/lt.png' %}" alt="" class="w-100-p d-b"></span>Job List</h4></li>
							<li class="left bz c-p p-s-r js-tabs-title {% if is_status %}active{% endif %}" data-tab="#tab-3"><h4 class="d-i-b p-b-20 p-l-30 p-s-r"><span class="d-i-b w-20 h-20 p-s-a l-0-p t-0-p b-20 m-a-0 m-r-5"><img src="{% static 'web/images/st.png' %}" alt="" class="w-100-p d-b"></span>Status</h4></li>
							<li class="left bz c-p p-s-r js-tabs-title signout"><a class='left' href="{% url 'auth_logout' %}"><h4 class="d-i-b p-b-20 p-l-30 p-s-r"><span class="d-i-b w-20 h-20 p-s-a l-0-p t-0-p b-20 m-a-0 m-r-5"><img src="{% static 'web/images/lo.png' %}" alt="" class="w-100-p d-b"></span>Sign Out</h4></a></li>
							
						</ul>
						<br class="clear">
					</div>
					<div class="hidden js-tabs-content {% if is_profile %}active{% endif %}" id="tab-1">
						<p class='w-100-p m-b-10'><a href="{% url 'employers:edit' pk=instance.pk %}" class="right post">Edit</a><br class="clear"></p>
						<div class="left p-l-40 p-t-30 p-r-20 p-b-30 img w-48-p m-r-2-p bg-color-custom bz">
							<ul class="w-100-p left">
								<li class="m-b-5"><small class="f-z-18 m-r-10">Banner :</small><b class="f-z-16 text-color-green"> {{instance.banner_name|camelize}}</b></li>
								<li class="m-b-5"><small class="f-z-18 m-r-10">Banner No :</small><b class="f-z-16 text-color-green"> {{instance.banner_no}}</b></li>
								<li class="m-b-5"><small class="f-z-18 m-r-10">Project Category :</small><b class="f-z-16 text-color-green"> {{instance.get_category_display|camelize}}</b></li>							
								<li class="m-b-5"><small class="f-z-18 m-r-10">Project Title :</small><b class="f-z-16 text-color-green"> {{instance.film_name|camelize}}</b></li>
								<li class="m-b-5"><small class="f-z-18 m-r-10">Director:</small><b class="f-z-16 text-color-green"> {{instance.director_name|camelize}}</b></li>
								<li class="m-b-5"><small class="f-z-18 m-r-10">Phone No :</small><b class="f-z-16 text-color-green"> {{instance.director_phone}}</b></li>
								<li class="m-b-5"><small class="f-z-18 m-r-10">Whatsapp No:</small><b class="f-z-16 text-color-green"> {{instance.director_wp}}</b></li>
								<li class="m-b-5"><small class="f-z-18 m-r-10">Producer :</small><b class="f-z-16 text-color-green"> {{instance.producer_name|camelize}}</b></li>
								<li class="m-b-5"><small class="f-z-18 m-r-10">Phone No :</small><b class="f-z-16 text-color-green"> {{instance.producer_phone}}</b></li>
								<li class="m-b-5"><small class="f-z-18 m-r-10">Whatsapp No:</small><b class="f-z-16 text-color-green"> {{instance.producer_wp}}</b></li>								
								<li class="m-b-5"><small class="f-z-18 m-r-10">Other Name :</small><b class="f-z-16 text-color-green"> {{instance.other_name|camelize}}</b></li>	
								<li class="m-b-5"><small class="f-z-18 m-r-10">Language :</small><b class="f-z-16 text-color-green">{{instance.language|camelize}}</b></li>
								<li class="m-b-5"><small class="f-z-18 m-r-10">Duration :</small><b class="f-z-16 text-color-green"> {{instance.time_duration|camelize}}</b></li>
								<li><small class="f-z-18 m-r-10">Email :</small><b class="f-z-16 text-color-green"> {{instance.email}}</b></li>
							</ul>
						</div>
						<div class="left p-l-40 p-t-30 p-r-20 p-b-30 img w-48-p m-r-2-p bg-color-custom bz">
							{% if instance.fefco_registration %}
							<div class="left w-100-p">
								<img class="w-100-p"src="{{instance.fefco_registration.url}}" alt="" class="fefco">
							</div>
							{% endif %}
							<br class="clear">
						</div>
						<br class="clear">
					</div>
					<div class="hidden js-tabs-content {% if is_job_list %}active{% endif %}" id="tab-2">
						<p class="right post-new w-100-p m-b-10"><a class="post" href="{% url 'jobs:post_job' %}">+ Post</a></p>
						{% if job_lists %}
							{% for job in job_lists %}
								<div class="left p-l-40 p-t-30 p-r-20 p-b-30 img w-48-p bg-color-custom bz m-r-2-p m-b-2-p">
									<ul class='left w-60-p'>
										<li class="m-b-5"><small class="f-z-14 m-r-10">Category :</small><b class="f-z-14 text-color-green"> {{job.employer.category|camelize}}</b></li>
										<li class="m-b-5"><small class="f-z-14 m-r-10">Project Title :</small><b class="f-z-14 text-color-green"> {{job.employer.film_name|camelize}}</b></li>
										<li class="m-b-5"><small class="f-z-14 m-r-10">Duration :</small><b class="f-z-14 text-color-green"> {{job.employer.time_duration|camelize}}</b></li>
										<li class="m-b-5"><small class="f-z-14 m-r-10">Profile :</small><b class="f-z-14 text-color-green">{{job.get_job_category_display|upfirstletter}}</b></li>
										<li class="m-b-5"><small class="f-z-14 m-r-10">Last-date :</small><b class="f-z-14 text-color-green">{{job.last_date}}</b></li>
									</ul>
									<div class="right">
										<a data-id="{{job.pk}}" href="{% url 'jobs:delete' pk=job.pk %}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" class='action-button remove button right icons-thumb' ><img src="{% static 'web/images/icons/delete.png' %}" alt="delete"></a>
										
										<a href="{% url 'jobs:edit' pk=job.pk %}" class="right icons-thumb m-r-10"><img src="{% static 'web/images/icons/edit.png' %}" alt="edit"></a>
										{% if job.is_active %}
										<p class="m-t-70"><a class='post remove button right icons-thumb' >Published &#10004</a></p>
										{% else %}
										<p class="m-t-70"><a data-id="{{job.pk}}" href="{% url 'jobs:publish' pk=job.pk %}" data-text="{{confirm_publish_message}}" data-title="Are you sure?" class='action-button post remove button right icons-thumb' >Publish</a></p>
										{% endif %}
									</div>
								</div>
							{% endfor%}
							
						{% else %}
							<div class='left p-l-40 p-t-30 p-r-20 p-b-30 img w-100-p border-color-black bd-1 bz'>
								<div>
									<p>Nothing Found!</p>
								</div>
							</div>
						{% endif %}
						<br class="clear">
					</div>
					<div class="hidden js-tabs-content {% if status %}active{% endif %}" id="tab-3">
						{% if published_lists %}
							{% for published in published_lists %}
								<div class="left p-l-40 p-t-30 p-r-20 p-b-30 img w-48-p bg-color-custom bz m-b-2-p m-r-2-p">
									<ul class='left two w-50-p'>
										<li class="m-b-5"><small class="f-z-14 m-r-10">Film :</small><b class="f-z-14 text-color-green"> {{published.employer.film_name|camelize}}</b></li>
										<li class="m-b-5"><small class="f-z-14 m-r-10">Duration :</small><b class="f-z-14 text-color-green"> {{published.employer.time_duration|camelize}}</b></li>
										<li class="m-b-5"><small class="f-z-14 m-r-10">category :</small><b class="f-z-14 text-color-green">{{published.job_category|camelize}}</b></li>
										<li class="m-b-5"><small class="f-z-14 m-r-10">Last-date :</small><b class="f-z-14 text-color-green">{{published.last_date}}</b></li>
									</ul>
									<p class="right interest-count">
										<a href="">{{published.apply}}</a>
										<a class="post view_candidate_button" data-id="{{published.pk}}" href="javascript:void(0);">View</a>
										<a class="post view_selected_candidate_button" data-id="{{published.pk}}" href="javascript:void(0);">Selected</a>
									</p>
									<br class="clear">
								</div>
							{% endfor%}
						{% else %}
							<div class='left p-l-40 p-t-30 p-r-20 p-b-30 img w-100-p border-color-black bd-1 bz'>
								<div>
									<p>Nothing Found!</p>
								</div>
							</div>
						{% endif %}
						<br class="clear">
					</div>
					<div class="hidden js-tabs-content {% if is_interested %}active{% endif %}" id="tab-4">
						{% if interested_lists %}
							{% for interested in interested_lists %}
							<p class='interest-notify'>Mr/Ms: <a data-id ="{{interested.candidate.pk}}" href="javascript:void(0)" class="navbuttonopen interest">{{interested.candidate.name|camelize}}</a> interested for the role <a href="" class="interest">{{interested.vacancy.get_job_category_display|camelize}}</a> in film {{interested.vacancy.employer.film_name|camelize}} {% if not interested.is_selected %}<a href="{% url 'jobs:select' pk=interested.pk %}" class="right select-list">Select</a>{% else %}<a href="{% url 'jobs:unselect' pk=interested.pk %}" class="right select-list">Unselect</a>{% endif %}</p>
							<br class="clear">
							{% endfor %}

						{% else %}
							<div class='left p-l-40 p-t-30 p-r-20 p-b-30 img w-100-p border-color-black bd-1 bz'>
								<div>
									<p>Nothing Found!</p>
								</div>
							</div>
						{% endif %}
						<br class="clear">
					</div>
				</div>
			</section>
			<section id="content-popup" class="bg-color-white p-t-20 p-b-20 p-l-20 p-r-20 border-color-black bd-l bd-r bd-b bz hidden">
				<div class="bottom">
					<div class="content-top"></div>
					<div class="content-form"></div>
					<ul class="w-100-p left employer-employer">
						<li class="left m-b-2-p employer-employer">
							<div class="content">
								<script type="text/javascript" src="{% static 'web/js/script.js' %}"></script>
							</div>
						</li>
					</ul>
					<br class="clear">
				</div>
			</section>
		</section>
	</section>
{% endblock %}
{% block static %}
	{% load static %}
	<script>
		$(document).on('click','.view_candidate_button',function(){
			$("#content-popup").fadeIn(150);
			var elmnt = document.getElementById("content-popup");
    		elmnt.scrollIntoView({ duration: "slow", direction: "y"});
			var pk = $(this).data('id');
			showCandidate(pk);

		});
		function showCandidate(value,check) {
			var request_url = "{% url 'jobs:get_job_applied_list' %}?vacancy="+value;
			$.getJSON(request_url, function(models) {
				var html = '';
				var head_html = '<a title="Close" href="javascript:void(0)" class="closebtn">&times;</a><div class="content-heading"><ul><li>Film Name :'+models['film'] +' </li><li>Category :'+models['category'] +' </li><li>Last-Date :'+models['last_date'] +' </li></ul></div>'
				
				for (var i = 0; i < models.results.length; i++) {
					html += '<div class="candidate-card"><div class="top"><a target="_blank"class="view_candidate_profile" href="/candidate/'+models.results[i]['candidate']+'">'

					if (models.results[i]['image']) {
						html += '<img src="'+models.results[i]['image'] +'" alt="">'
					}
					else {
						html += '<img src="/static/web/images/man.jpg" alt="">'
					}
					html+= '</a></div><div class="candidate-content"><h3>'+ models.results[i]['name'] + '</h3><h4>DOB: '+ models.results[i]['dob'] + '</h4><h4>Place: '+ models.results[i]['place'] + '</h4><h4>'+ models.results[i]['email'] + '</h4></div><div>'
					
					if (models.results[i]['check']== "false") {
						html += '<a href="javascript:void(0)" class="select-button"style="display:block" data-pk="'+models.results[i]['candidate'] +'"data-id="'+models.results[i]['pk'] +'">Select</a>'
					}
					else {
						html += '<a href="javascript:void(0)" class="select-button"style="display:block" data-pk="'+models.results[i]['candidate'] +'"data-id="'+models.results[i]['pk'] +'">Selected &#10004</a>'
					}
					html +='</div></div>'
				}
				html += '<br class="clear" />';
				$('#content-popup .content-top').html(head_html);
				$('#content-popup .content').html(html);
				$('#content-popup .content-form').html('');
				$( ".content-form" ).css("border", "none");
			});
		}
		$(document).on('click','.view_selected_candidate_button',function(){
			$("#content-popup").fadeIn(150);
			var elmnt = document.getElementById("content-popup");
    		elmnt.scrollIntoView({ duration: "slow", direction: "y"});
			var pk = $(this).data('id');
			showSelectedCandidate(pk);
			$('.datetimepicker').datetimepicker();

		});
		function showSelectedCandidate(value) {
			var request_url = "{% url 'jobs:get_job_selected_list' %}?vacancy="+value;
			$.getJSON(request_url, function(models) {
				var html = '';
				var head_html = '<a title="Close" href="javascript:void(0)" class="closebtn">&times;</a><div class="content-heading"><ul><li>Film Name :'+models['film'] +' </li><li>Category :'+models['category'] +' </li><li>Last-Date :'+models['last_date'] +' </li></ul></div>'

				var form_html = "<form class='contact-form' action='/web-app/jobs/jobs/interview-call/" +value +"/' method='post' enctype='multipart/form-data'>{% csrf_token %}<input type='text' class='m-b-2-p w-49-p m-r-1-p t-a-c border-color-grey-400 bd-2 p-t-10 p-b-10 f-z-16 p-l-10 place' name='place' placeholder='Place' autocomplete='off'><input type='text' class='m-b-2-p w-49-p m-r-1-p t-a-c border-color-grey-400 bd-2 p-t-10 p-b-10 f-z-16 p-l-10 datetimepicker' name='date' placeholder='Date' autocomplete='off'><input type='text' class='m-b-2-p w-49-p m-r-1-p t-a-c border-color-grey-400 bd-2 p-t-10 p-b-10 f-z-16 p-l-10 time-picker from-time' name='from_time' placeholder='From time' autocomplete='off'><input type='text' class='m-b-2-p w-49-p m-r-1-p t-a-c border-color-grey-400 bd-2 p-t-10 p-b-10 f-z-16 p-l-10 to-time time-picker' name='to_time' placeholder='To time' autocomplete='off'><input type='text' class='m-b-2-p w-49-p m-r-1-p t-a-c border-color-grey-400 bd-2 p-t-10 p-b-10 f-z-16 p-l-10' name='contact_number' placeholder='Contact Number 1' autocomplete='off'><input type='text' class='m-b-2-p w-49-p m-r-1-p t-a-c border-color-grey-400 bd-2 p-t-10 p-b-10 f-z-16 p-l-10' name='contact_number2' placeholder='Contact Number 2' autocomplete='off'><input class='submit t-t-u text-color-white m-0-a d-b f-z-18 bg-color-green p-t-8 p-b-8 p-l-30 p-r-30 c-p' type='submit' value='Submit'></form>"

				for (var i = 0; i < models.results.length; i++) {
					html += '<div class="candidate-card"><div class="top"><a target="_blank"class="view_candidate_profile" href="/candidate/'+models.results[i]['candidate']+'">'

					if (models.results[i]['image']) {
						html += '<img src="'+models.results[i]['image'] +'" alt="">'
					}
					else {
						html += '<img src="/static/web/images/man.jpg" alt="">'
					}
					html+= '</a></div><div class="candidate-content"><h3>'+ models.results[i]['name'] + '</h3><h4>DOB: '+ models.results[i]['dob'] + '</h4><h4>Place: '+ models.results[i]['place'] + '</h4><h4>'+ models.results[i]['email'] + '</h4></div><div>'
					
					if (models.results[i]['check']== "false") {
						html += '<a href="javascript:void(0)" class="select-button"style="display:block" data-pk="'+models.results[i]['candidate'] +'"data-id="'+models.results[i]['pk'] +'">Select</a>'
					}
					else {
						html += '<a href="javascript:void(0)" class="select-button"style="display:block" data-pk="'+models.results[i]['candidate'] +'"data-id="'+models.results[i]['pk'] +'">Selected &#10004</a>'
					}
					

					html +='</div></div>'
				}
				html += '<br class="clear" />';
				$('#content-popup .content-top').html(head_html);
				$('#content-popup .content').html(html);
				$('#content-popup .content-form').html(form_html);
				$( ".contact-form" ).parent().css("border", "1px solid #BDBDBD");
			});
		}
		$(document).on('click','.closebtn',function(){
			$("#content-popup").fadeOut(150);

		});
		$(document).on('click','.select-button',function(){

			var url = "{% url 'jobs:select_candidate' %}";
			var $this = $(this)
			var pk = $(this).data('id');
			var candidate = $(this).data('pk');
			if (pk && candidate) {
				$.ajax({
	                type : "GET",
	                url : url,
	                dataType : 'json',
	                data : {
	                    pk : pk,
	                    candidate : candidate,
	                },
	                success : function(data) {
	                	var status = data['status'];
	                	var selected = data['selected'];
	                    if(status == "true"){
	                    	if(selected == 'true'){
	                    		$this.html('Selected &#10004')
	                    	}
	                    	else{
	                    		$this.html('Select')
	                    	}
	                    }
	                },
	                error : function(data){


	                }
	            });
			}
		});
		$(document).on('click','.place',function(){
			$('.datetimepicker').datetimepicker({theme:'dark',timepicker:false,format:'d/m/Y'});
			$('.time-picker').datetimepicker({
			  datepicker:false,
			  format:'H:i',
			  theme:'dark'
			});
		});
		$(document).on('change','#cover-upload',function () {
            file = $('#cover-upload').val()
            if(file){
                $('#upload_cover').click()
            }
        });
        $(document).on('change','#photo-upload',function () {
            file = $('#photo-upload').val()
            if(file){
                $('#upload_director').click()
            }
        });
	</script>
{% endblock %}