{% extends "web/base.html" %}
{% load i18n %}
{% block content %}
{% load static %}
{% load main_template_tags %}
	<section id="about">
		<section id="top" class="p-t-20 p-b-20" style="background: url({{static_url}}web/images/header.png) no-repeat scroll center center / cover">
			<div class="wrapper">
				<h2 class="f-z-25 text-color-white t-a-c">{{quote1}}</h2>
			</div>
		</section>
		<section id="middle2" style="background: url({{static_url}}web/images/spotlight.png) no-repeat scroll center center / cover">
			<!--<section id="video-frame">
				<div class="html5gallery" data-responsive="true" data-titleoverlay="true" data-titleautohide="false" data-onchange="onSlideChange" data-skin="light" data-autoplayvideo='true' data-autoslide="true" data-random="true" data-width="600" data-height="280" style="display:none;">
					
					<a href="https://www.youtube.com/embed/815MDYLvgu0"><img src="http://img.youtube.com/vi/815MDYLvgu0/0.jpg"></a>
					{% for promotion in promotion_videos %}
					<a href="{{promotion.video.video_url}}"><img src="http://img.youtube.com/vi/{{promotion.video.video_code}}/0.jpg" alt="Youtube Video"></a>
					{% endfor %}
				</div>
			</section>-->
		</section>
		<section id="bottom" class="bg-color-green p-t-15 p-b-15 box-shadow-1 t-a-c">
			
		</section>
	</section>
</section>
	<section class="about p-b-3-p employers-list">
		<section class="wrapper">
			<div class="padding-4 bg-color-white p-t-30 p-b-50 p-l-40 p-r-40 border-color-black bd-l bd-r bd-b bz">
				<h2 class='d-b t-a-c f-z-40 text-color-green m-b-20'>Companies</h2>
				<ul>
					{% for instance in instances %}
						<li>
							<div class="candidate-card">
								<div class="content">
									<div class="top">
											{% if instance.director_photo %}
											<img class="d-b w-300-p h-300" src="{{instance.director_photo.url}}" alt="">
											{% else %}
											<img src="{% static 'web/images/profile.png' %}" style = "width:'300px' height:'200px'" alt="">
											{% endif %}
									</div>
									<div class="candidate-content">
										<h3>{{instance.director_name|camelize}}</h3>
										<h4>Banner : {{instance.banner_name|camelize}}</h4>
										<h4>Film : {{instance.film_name|camelize}}</h4>
										<h4>Language : {{instance.language|camelize}}</h4>
									</div>
								</div>
							</div>
						</li>
					{% endfor %}
				</ul>
				<br class="clear">
			</div>
		</section>
	</section>
{% endblock %}
